<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Get strt</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="header">
    <ion-title class="title" size="large"
      >Registrate en la aplicacion</ion-title
    >
    <p class="subtitle">Creando una cuenta</p>
  </div>
  <form [formGroup]="ionicForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input
          class="input"
          formControlName="fullname"
          placeholder="Nombre Completo"
        />
        <ion-icon slot="end" name="person-outline"></ion-icon>
      </ion-item>
      <div
        style="padding-top: -26px; padding-bottom: 16px"
        *ngIf="this.ionicForm.controls?.['fullname'].touched && this.ionicForm.controls?.['fullname'].invalid"
      >
        <ion-text
          *ngIf="errorControl.fullname.errors?.required"
          class="errorInput"
          color="danger"
          >El nombre completo es obligatorio.</ion-text
        >
      </div>
      <ion-item>
        <ion-input
          class="input"
          formControlName="email"
          placeholder="Correo electronico"
        />
        <ion-icon slot="end" name="mail-outline"></ion-icon>
      </ion-item>
      <div
        style="padding-top: -26px; padding-bottom: 16px"
        *ngIf="this.ionicForm.controls?.['email'].touched && this.ionicForm.controls?.['email'].invalid"
      >
        <ion-text
          *ngIf="errorControl.email.errors?.required"
          class="errorInput"
          color="danger"
          >El correo es obligatorio.</ion-text
        >
        <ion-text
          *ngIf="errorControl.email.errors?.pattern"
          class="errorInput"
          color="danger"
          >El correo es obligatorio.</ion-text
        >
      </div>
      <ion-item>
        <ion-input
          class="input"
          type="password"
          formControlName="password"
          placeholder="Contraseña"
        />
        <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div
        style="padding-top: -26px; padding-bottom: 16px"
        *ngIf="this.ionicForm.controls?.['password'].touched && this.ionicForm.controls?.['password'].invalid"
      >
        <ion-text
          *ngIf="errorControl.password.errors?.required"
          class="errorInput"
          color="danger"
          >La contraseña es obligatoria.</ion-text
        >
        <ion-text
          *ngIf="errorControl.password.errors?.pattern"
          class="errorInput"
          color="danger"
          >La contraseña debe tener más de 8 caracteres y contener al menos un
          carácter especial, al menos una letra mayúscula y al menos un número.
        </ion-text>
      </div>
      <ion-item>
        <ion-input
          class="input"
          type="numeric"
          formControlName="contact"
          placeholder="Numero de contacto"
        />
        <ion-icon slot="end" name="call-outline"></ion-icon>
      </ion-item>
      <div
        style="padding-top: -26px; padding-bottom: 16px"
        *ngIf="this.ionicForm.controls?.['contact'].touched && this.ionicForm.controls?.['contact'].invalid"
      >
        <ion-text
          *ngIf="errorControl.contact.errors?.required"
          class="errorInput"
          color="danger"
          >EL numero de telefono es obligatorio.</ion-text
        >
        <ion-text
          *ngIf="errorControl.contact.errors?.pattern"
          class="errorInput"
          color="danger"
          >Solo se permiten numeros en este apartado.</ion-text
        >
        <ion-text
          *ngIf="errorControl.contact.errors?.minlength"
          class="errorInput"
          color="danger"
          >El numero de telefono no debe exeder los 10 digitos.</ion-text
        >
      </div>
      <p>O</p>

      <ion-button color="light" (click)="this.signUpWithGoogle()">
        <ion-icon src="assets/icon/google.svg"></ion-icon>
        <ion-text>Iniciar con google</ion-text>
      </ion-button>

      <div class="loginLink">
        <p class="p">
          Ya eres miembro?
          <a [routerLink]="['/login']" style="color: #ffc33f">Iniciar sesion</a>
        </p>
      </div>
    </div>

    <ion-fab
      *ngIf="ionicForm.valid"
      vertical="bottom"
      horizontal="end"
      style="margin-bottom: 30px"
    >
      <ion-fab-button (click)="signUP()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
