<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title" size="large">Ingrese su email</ion-title>
    <p class="subtitle">Se enviará un link para restablecer la contraseña</p>
  </div>
  <form novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input
          [(ngModel)]="email"
          name="email"
          placeholder="Ingrese su email"
          class="input"
          style="color: black;"
        ></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>

      <div
        *ngIf="emailTouched && !emailValid"
        style="padding-top: -26px; padding-bottom: 16px"
      >
        <ion-text class="errorInput" color="danger"
          >El correo es obligatorio.</ion-text
        >
      </div>

      <ion-button
        class="sendBtn"
        expand="block"
        shape="round"
        (click)="reset()"
        [disabled]="!emailValid"
      >
        Enviar
      </ion-button>
    </div>
  </form>
</ion-content>
