/* Estilos generales */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para el ion-header */
.ion-header-custom {
  background-color: #3498db;
  color: white;
  text-align: center;
  padding: 10px;
}

.ion-toolbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ion-buttons-custom {
  display: flex;
  gap: 10px;
}

/* Estilos para el ion-content */
.ion-content-custom {
  padding: 20px;
}

#container {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para la sección con la imagen y los botones */
.contenedor-lugar-comida {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  text-align: center;
}

.contenedor-imagen {
  text-align: center;
}

.contendor-imagen {
  max-width: 100%;
  max-height: 150px;
  height: auto;
  border-radius: 10px;
}

/* Estilos para los botones en la sección */
.ion-button-modificar,
.ion-button-eliminar {
  width: 50%;
  border-radius: 0;
}

/* Estilos adicionales si es necesario */
.custom-heading {
  color: #333;
}
