<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start"> Blank </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="signOut()">Cerrar sesión</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>Agregar un nuevo restaurante</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1>Hola </h1>
    <strong>{{email}}</strong>
  </div>
  <section>
    <div class="contenedor-lugar-comida">
      <div class="contenedor-titulo">
        <h2>Titulo de lugar de comida</h2>
      </div>
      <div class="contenedor-imagen">
        <img
          class="contendor-imagen"
          src="https://png.pngtree.com/png-clipart/20201224/ourmid/pngtree-panda-bamboo-bamboo-shoots-simple-strokes-cartoon-with-pictures-small-fresh-png-image_2625172.jpg"
        />
      </div>
      <div class="contenedor-botones-items">
        <ion-button class="contenedor-modificar">Modificar</ion-button>
        <ion-button class="contenedor-eliminar">Eliminar</ion-button>
      </div>
    </div>
  </section>
</ion-content>
